#t-shirt img{
    margin-left: 220px;
    margin-top: 10%;
}
#t-shirt .de{
    margin-left: 680px;
    margin-top: -400px;
}
#t-shirt h3{
    font-weight: 50;
}
#t-shirt h2{
    font-weight: 50;
}
#t-shirt h1{
    font-weight: 50;
}
