body {
    background-image: url('signUp.webp');
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-color: #f2f3ef;
        background-position: left;
        background-repeat: no-repeat;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .box {
    width: 300px;
    height: 400px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 50px 30px;
    transition: transform 0.3s ease-in-out;
  }
  
  .box:hover {
    transform: translateY(-10px);
  }
  
  h1 {
    margin-bottom: 30px;
    color: #333;
    font-weight: bold;
  }
  
  form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  form button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #555;
  }
  